.container{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    margin: auto;
    
    
  }
  
  .filtering{
   display: flex;
   justify-content: space-evenly;

  }
  
  