.toprated{
    margin-top: 5%;
   
    padding: 0;
  }
  button{

    background-color: white;
    border: none;
  }
  button:hover{
    outline: auto;
    background-color: #9b847c7a;
    /* color: red; */
    border-radius: 8px;

  }